// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

@media only screen and (min-width: 768px) {
  #main {
    border-left: solid 1px #e0e0e0;
    border-right: solid 1px #e0e0e0;
    border-top: solid 1px #e0e0e0;
  }
  body > footer {
    margin-bottom: 1em;
  }
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
